
		a:link.list{
			color: 	#787878;
			text-decoration:none;
			font-size:12px;
			font-family:fantasy;
		}
		a:active.list{
			color:#D1B894;
			text-decoration:none;
		}
		
		i{
			color:#505050;
		}
		
		
		
		a.icons{
			color:#404040;
		}
		
	
