
a:link.list{
	color: 	#787878;
	text-decoration:none;
	font-size:12px;
	font-family:fantasy; 
}
a:active.list{
	color:#D1B894;
	text-decoration:none;
}
a:hover.list{
    color:#D1B894;
}    
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
}
#hcolor{
    color:#D1B894;
}    
i{
	color:#505050;
}

hr{
    width:60px; 
    color:FFCC66;
}
a.icons{
	color:#404040;
}
a{
   color: 	#787878;
} 
		
div.item,carousel-inner{
	width:100%;

	margin-top:13px;
	
	margin-right:30px;
}
.active{
	width:1100px;
	height:680px;
	margin-top:30px;
	margin-left:60px;
	margin-right:30px;
}
#name{
    word-spacing:-11px;
    font-strech:condense;
}
#maindiv{
    width:100%;
 }
 #imagediv{
    float:right; 
    width:1150px;
}
#buttondiv{
    margin-top:20px;
}
#leftdiv{
     float:left;
     margin-top:24px; 
     margin-left:30px;
    
}
.
input.left{
    float: left; 
    margin-left:70px;
}
input.right{
    float: right; 
    margin-right:70px;
}




carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      }
